{% extends "base.html" %}
{% load static %}
{% block rightNav %}
    <div id="preview" style="width: auto;">
        <div id="corner-tl" class="corner"></div>
            <ul>
                <li>
                    <a href="#section2"><span>About</span></a>
                </li>

                {% if skills|length  > 0  %}
                <li>
                    <a href="#section3"><span>Skills</span></a>
                </li>
                {% endif %}

                {% if projects|length  > 0  %}
                <li>
                    <a href="#section4"><span>Projects</span></a>
                </li>
                {% endif %}
            </ul>
        <div id="corner-br" class="corner"></div>
    </div>
{% endblock rightNav %}
{% block content %}
<div id="DateTime"></div>
<div id="location"></div>
<section id="section1">
    <div id="UbuntoWindow">
        <div class="UbuntoNav">
            <div class="Empty">
            </div>
            <div class="UbuntomMidTitle">
                chedy@PortfolioWebsite:/home
            </div>
            <div class="dots">
                <div id="dot-" class="dot">-</div>
                <div id="dotO" class="dot">&#9634;</div>
                <div id="dotX" class="dot">X</div>
            </div>
        </div>
        <div class="UbuntoContent">
            <div class="up">
                <div>
                    <h5>Personalize Theme</h5>
                    <div class="theme-options">
                        <div data-mode="light" id="light-mode" class="theme-dot"></div>
                        <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                        <div data-mode="green" id="green-mode" class="theme-dot"></div>
                        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                    </div>
                    <p class="settings-note">*Theme settings will be saved for<br>your next vist</p>
                </div>
            </div>
            <div class="down">
                <div class="left">
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <h2>What I Do</h2>
                            <p>
                                I can develop your idea from visual concept to a fully functional product.<br><br>Below you will find a list of things I can do:<br>&nbsp;Websites<br>&nbsp;Web apps<br>&nbsp;Design & UX
                            </p>
                            <div id="corner-br" class="corner"></div>
                            <div id="corner-bl" class="corner"></div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    {% if preview %}
                        <img alt="Chedy Chaaben" title="Chedy Chaaben" id="profile_pic" src="{{preview.imageofme.url}}" width="200" height="200">
                    {% endif %}
                        <div class="chedychaaben cell">
                        <div class="cc">CC</div>
                        <div>
                            <h4>Chedy Chaaben</h4>
                            <p>Full-Stack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section2" > <!--Acout Me-->
    <h2 class="numbered-heading" >About Me</h2>
    <div class="main">
        <div class="ios cell left">
            <p>Hello! My name is Chedy and I enjoy creating things that live on the internet. My interest in web development started back in 2019 when I decided to create a fake League Of Legends login page to gain profit — turns out hacking taught me a lot about HTML & CSS!
                <br><br>
                Fast-forward to today, and I've had the privilege of working with <a href="https://www.dataon.fr/" alt="DataOn" target="_blank">a French digital services company</a>. 
                <br><br>
                My main focus these days is building accessible, inclusive products and digital experiences.
                <br><br>
                On my spare time, I love to attend conferences to meet new people, build projects and do freelance work.
            </p>
        </div>
        <div class="ios cell  right">
            <p>
                I'm comfortable working with both Front-End and Back-End technologies.
                <br><br>
                As a Full-Stack Developer, I can do the Front-End and Back-End code, work with databases and everything in between, also, venturing as far as doing the design.
            </p>
        </div>
    </div>
</section>

{% if skills|length  > 0  %}
<section id="section3" > <!--Technologies Skills / Technologies I've been working with recently-->
    <h2 class="numbered-heading" >Skills</h2>
    <div class="main">
        {% for skill in skills %}
        <div class="skill">
            <img src="{{skill.image.url}}" />
            <div>
                <h4>{{skill.title}}</h4>
                <p>{{skill.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% if projects|length  > 0  %}
<section id="section4"> <!-- Projects Projects / Some Things I’ve Built-->
    <h2 class="numbered-heading" >Projects</h2>
    <div class="main">
        <ul class="projects-wrapper">
            {%for project in projects %}
            <li class="project-wrapper"> 
                <div class="project-content">
                    <div>
                        <p class="project-overline">Featured Project</p>
                        <h3 class="project-title">
                            <a {% if project.liveurl %} href="{{project.liveurl}}" target="_blank" {% endif %}>{{project.title}}</a>
                        </h3>
                        <div class="project-image">
                            <a {% if project.liveurl %} href="{{project.liveurl}}" target="_blank" {% endif %}>
                                <div class="images-wrapper">
                                    {% for projectimage in project.images.all %}
                                    <img class="image {% if forloop.first %}is-selected{% endif %}" src="{{projectimage.image.url}}">
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                        <div class="project-description">
                            <p>{{project.description |safe}}</p>
                        </div>
                        <ul class="project-tech-list">
                            {% for projecttech in project.techs.all %}
                                <li>{{projecttech.tech}}</li>
                            {% endfor %}
                        </ul>
                        <br>
                        {% if project.liveurl %}
                        <div class="project-links">
                            <a href="{{project.liveurl}}" aria-label="External Link" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                                    <title>External Link</title>
                                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}            
        </ul>
    </div>
</section>
{% endif %}

{% if quotes|length  > 0  %}
<section id="section5"> <!-- Quote -->
    <h2 class="numbered-heading" >Quote{% if quotes|length  > 1  %}s{% endif %}</h2>
    <div class="main">
        {% for quote in quotes %}
        <div class="quote-wrapper">
            <img src="{{quote.image.url}}" >
            <span>{{quote.description}}</span>
        </div>
        {% endfor %}
</section>
{% endif %}

<section id="section6"> <!-- Get in Touch -->
    <h2 class="numbered-heading" >What’s Next?</h2>
    <h2 class="title">Get In Touch</h2>
    <p>My inbox is always open. Whether you have a question or just want to say hi, I'll try my best to get back to you!</p>
    <a class="email-link" href="mailto:chedychaaben@gmail.com" rel="noopener noreferrer" target="_blank">Say Hello</a>
</section>
{% endblock content %}