:root{
    --BackgroundColor : #eaeaea;
    --MainTextColor : black;
    --SecondaryColor : black;
    --ThirdColor : #112240;
    --BigMainColor : #7e4c74;
    --UbuntuBackgroundColor : #fff;
    --UbuntuHeaderColor : #eaeaea;
    --UbuntuBorderColor : #c1c1c1;
    --previewBg : #f9f6ed;
    --previewShadow : #f0ead6;
    --sectionCounterLigneColor : #78866b;
    --ContactTitle : #7e4c74;
    --ContactP : #000;
    --ContactA : #881671;
    --ContactBgA : #d1a8c9;
    
    
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.theme-options .theme-dot {
    border-color: black;
}
#light-mode {
    border-width: 5px;
}