:root{
    --BackgroundColor : #606b56;
    --MainTextColor : white;
    --SecondaryColor : black;
    --ThirdColor : #ffffff;
    --BigMainColor : #41f5cb;
    --UbuntuBackgroundColor : #515a48;
    --UbuntuHeaderColor : #606b56;
    --UbuntuBorderColor : #161914;
    --previewBg : #495141;
    --previewShadow : #2a2f25;
    --sectionCounterLigneColor : #f0ead6;
    --ContactTitle : #41f5cb;
    --ContactP : #fff;
    --ContactA : #41f5cb;
    --ContactBgA : #5ed3b8;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  
#green-mode {
    border-width: 5px;
}