{% extends "base.html" %}
{% load static %}
{% block content %}
<!--
  - #MAIN
-->

<main>

  <!--
    - #SIDEBAR
  -->

  <aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

      <figure class="avatar-box">
        <img class="avatar-box" src="{% static "images/my-profile-image.png"%}" alt="Chedy Chaaben" width="100">
      </figure>

      <div class="info-content">
        <h1 class="name" title="Chedy Chaaben">
          Chedy Chaaben
        </h1>
        <div class="display: flex;">
          <p class="title">Student</p>
          <!--
          <p class="title">Data Engineer</p>
          <p class="title">Web Scraping Specialist</p>
          <p class="title">Django Developer</p>
          <p class="title">BI Developer</p>
          <p class="title">Freelance Big Data Architect</p>-->
        </div>
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Show Contacts</span>

        <ion-icon name="chevron-down"></ion-icon>
      </button>

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="social-list">

        <li class="social-item">
          <a href="https://github.com/chedychaaben" class="social-link">
            <ion-icon name="logo-github" size="large" ></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://www.linkedin.com/in/chedy-chaaben-154391157/" class="social-link">
            <ion-icon name="logo-linkedin" size="large" ></ion-icon>
          </a>
        </li>

      </ul>
      
    </div>
  </aside>





</main>
{% endblock content %}
